.header {
  display: flex;
  align-items: center;
  background-color: #131821;
  padding: 10px 15px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header_logo {
  flex: 0.05;
  max-height: 29px;
  object-fit: contain;
  padding: 5px;
  margin-top: 3px;
}

.header_select_location {
  flex: 0.15;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header_select_location_icon > .MuiSvgIcon-root {
  color: white;
}

.header_select_location_text {
  margin-left: 3px;
}
.header_select_location_text > p {
  color: white;
  font-size: 11px;
}

.header_select_location_text > h5 {
  color: white;
  margin-top: 2px;
  font-size: 13px;
}

.header_search {
  flex: 0.49;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header_search > input {
  border: none;
  width: 100%;
  background-color: transparent;
  padding: 9px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #212121;
}

.header_search > input:focus {
  outline: none !important;
}

.header_search_icon {
  padding: 4px 9px;
  background-color: orange;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header_search_icon > .MuiSvgIcon-root {
  font-size: 27px;
}

.header_nav {
  flex: 0.28;
  display: flex;
  align-items: center;
}

.header_nav > img {
  height: 20px;
  object-fit: contain;
  margin-left: 30px;
  margin-right: 5px;
}

.header_nav_item {
  padding-left: 30px;
  padding-right: 10px;
}

.header_nav_item > p {
  color: white;
  font-size: 11px;
}

.header_nav_item > h5 {
  color: white;
  margin-top: 2px;
  font-size: 13px;
}
.header_cart {
  position: relative;
}

.header_cart > .MuiSvgIcon-root {
  color: white;
  font-size: 35px;
}

.header_cart > p {
  font-size: 11px;
  height: 15px;
  width: 15px;
  text-align: center;
  font-weight: bolder;
  vertical-align: 100%;
  padding-top: 3px;
  padding-left: 1.5px;
  padding-right: 1.5px;
  color: white;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  left: 65%;
  top: -10%;
}
