.home {
  height: 100vh;
  margin-top: 60px;
}
.home > img {
  width: 100%;
  object-fit: contain;
  margin: 0px;
}

.home_all_products {
  padding: 8px;
  margin-top: -300px;
  z-index: 99;
}

.home_row {
  display: flex;
  z-index: 99;
}
