.product {
  background-color: white;
  border-radius: 0px;
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 99;
}

.product > img {
  height: 200px;
  width: 100%;
  /* object-fit: contain; */
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  /* border: 1px solid black; */
}

.product_info > h4 {
  color: #424242;
}

.product_info > p {
  font-weight: bold;
  margin-top: 10px;
}

.product_rating {
  display: flex;
  margin-top: 10px;
}

.product_rating > .MuiSvgIcon-root {
  color: #ffc107;
}

.product_actions {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.product_add_button {
  flex: 0.55 !important;
  background-color: orange !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  align-self: center !important;
  text-transform: none !important;
  margin-right: 5px !important;
  font-size: 13px !important;
}
.product_buy_button {
  flex: 0.45 !important;
  background-color: #8bc34a !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  align-self: center !important;
  text-transform: none !important;
  margin-left: 5px !important;
  font-size: 13px !important;
}
